node_modules
*.log
dist
coverage
.DS_Store
.env
ceklist
*.key.json
testnets/*/data/
apps/node/testnets/*/data/
.vscode
apps/wallet/.env.local
guide.md
apps/wallet/.next
apps/wallet/.env.example
tools/contract-test